<article>
  <h1 local-class="red">some header</h1>
  <div class="blog_card_details">
    <div class="blog_card_image">
      <img src={{@article.image}} height= "500" alt="">
    </div>
    <div class="blog_card_content">
      <h3>{{@article.title}}</h3>
      <h4>By: {{@article.author}} </h4>
      <h5>Date: {{@article.published_date}}</h5>
      <p>{{@article.description}}</p>
    </div>
  </div>
</article>